.collections {
  background: #000;
  color: #fff;
  padding: 90px 5%;
}

.section-title {
  text-align: center;
  margin-bottom: 45px;
}

.section-title span {
  color: #d4af37;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-title h2 {
  color: #fff;
  font-size: 42px;
  margin-top: 12px;
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 26px;
}

.collection-card {
  background: #111;
  border: 1px solid #222;
  border-radius: 18px;
  overflow: hidden;
  transition: 0.3s;
}

.collection-card:hover {
  border-color: #d4af37;
  transform: translateY(-5px);
}

.collection-image-box {
  width: 100%;
  aspect-ratio: 1 / 1;
  background: #fff;
  padding: 16px;
  cursor: pointer;
}

.collection-image-box img,
.category-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.collection-info {
  padding: 18px;
  text-align: center;
}

.collection-info h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 14px;
  min-height: 38px;
}

.collection-info button {
  width: 100%;
  background: #d4af37;
  color: #000;
  border: none;
  padding: 13px;
  border-radius: 10px;
  font-weight: 900;
  cursor: pointer;
}

.collection-info button:hover {
  background: #f6b800;
}

@media (max-width: 1200px) {
  .collection-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .collections {
    padding: 60px 4%;
  }

  .section-title h2 {
    font-size: 30px;
  }

  .collection-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .collection-card {
    border-radius: 14px;
  }

  .collection-image-box {
    padding: 10px;
  }

  .collection-info {
    padding: 13px;
  }

  .collection-info h3 {
    font-size: 13px;
    min-height: 34px;
  }

  .collection-info button {
    padding: 11px;
    font-size: 12px;
  }
}