.hero {
  width: 100%;
  min-height: calc(100vh - 90px);
  padding: 0 8%;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  color: #fff;
  transition: background-image 0.8s ease-in-out;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(0,0,0,0.86), rgba(0,0,0,0.45));
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 850px;
}

.hero-content span {
  color: #d4af37;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero-content h1 {
  font-size: clamp(54px, 8vw, 110px);
  line-height: 0.95;
  margin: 20px 0;
  color: #fff;
}

.hero-content p {
  font-size: 22px;
  max-width: 650px;
  color: #ddd;
  line-height: 1.6;
  margin-bottom: 35px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.hero-buttons button {
  padding: 16px 34px;
  border-radius: 50px;
  border: none;
  font-weight: 800;
  cursor: pointer;
}

.hero-buttons button:first-child {
  background: #d4af37;
  color: #000;
}

.hero-buttons .outline {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.hero-dots {
  display: flex;
  gap: 10px;
  margin-top: 35px;
}

.hero-dots button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #d4af37;
  background: transparent;
  cursor: pointer;
}

.hero-dots button.active {
  background: #d4af37;
}

@media (max-width: 768px) {
  .hero {
    min-height: 80vh;
    padding: 80px 6%;
    text-align: center;
    justify-content: center;
  }

  .hero-content h1 {
    font-size: 56px;
  }

  .hero-content p {
    font-size: 18px;
  }

  .hero-buttons,
  .hero-dots {
    justify-content: center;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  background: rgba(0,0,0,0.5);
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s;
}

.arrow:hover {
  background: #d4af37;
  color: #000;
}

.left {
  left: 30px;
}

.right {
  right: 30px;
}

@media (max-width: 768px) {
  .arrow {
    width: 45px;
    height: 45px;
    font-size: 22px;
  }

  .left {
    left: 10px;
  }

  .right {
    right: 10px;
  }
}